body{
    text-align: center;
    }
    
    header{
        padding: 45px; 
        background-color: lightskyblue;
    }
    nav{
        padding: 20px;
        background-color: lightcyan;
    }
    section{
        padding: 180px; 
        background-color: lightpink;
    }
    footer{
        padding: 45px;
        background-color: lightgoldenrodyellow;
    }