body{
    text-align: center;
}
header{
    padding: 45px; 
    background-color: lightskyblue;
}
aside{
    padding:180px 50px;
    background-color: lightcyan;
}
section{
    padding: 180px 500px; 
    background-color: lightpink;
}
footer{
    padding: 45px;
    background-color: lightgoldenrodyellow;
}
.contenedor {
    display: flex;
}
